In [1]:
from boknis_eck import BEDatabaseWizard
from spectrum import SfgAverager, DummyPlotter 

from datetime import datetime, date, timedelta
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
from matplotlib.dates import MonthLocator, DateFormatter
from matplotlib.lines import Line2D

%matplotlib qt
plt.style.use("qt.mpltstyle")

bz = BEDatabaseWizard()

In [5]:
%matplotlib qt
plt.style.use("qt.mpltstyle")

temp = bz.df[["sampling_date", "sml_coverage", "bulk_coverage", "one_coverage"]]
BEDatabaseWizard.convert_to_origin_date(temp)
temp.to_csv("onemeter.csv")

C:\Users\lange\Desktop\CharmingSFG\SFG\boknis_eck.py:516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sampling_date'] = df["sampling_date"].dt.strftime('%d.%m.%Y')

In [3]:
temp

   sampling_date  sml_coverage  bulk_coverage  one_coverage
0     2008-10-27      0.195588            NaN      0.132529
1     2008-11-17      0.065895       0.024283      0.025113
2     2008-12-08           NaN            NaN           NaN
3     2009-01-19           NaN            NaN           NaN
4     2009-03-02      0.338041       0.000000      0.079996
..           ...           ...            ...           ...
80    2018-10-18      0.057841       0.080028      0.000000
81    2018-12-13      0.084070       0.032055      0.064214
82    2018-11-13      0.103374       0.083234           NaN
83    2018-06-21      0.053842       0.058601           NaN
84    2018-09-20      0.076673       0.000000           NaN

[85 rows x 4 columns]